# Binaries for programs and plugins

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`

*.test

# Output of the go coverage tool, specifically when used with LiteIDE

*.out

# Dependency directories (remove the comment below to include it)

vendor/

# Temp test output
tests/cli_tests/config/*wallet.json
tests/cli_tests/config/*allocation.txt
tests/cli_tests/tmp/
**/cmdlog.log
**/zbox
**/zwallet
**/allocation.txt

.DS_STORE
.idea
.vscode
tests/cli_tests/__debug_bin
